@import url("components/avatar.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:400,700);
@import url("components/container.css");
@import url("components/buttons.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
    font-family: "Open Sans";
    padding-bottom: 200px;
    margin: 0;
    background-color: rgb(240,240,240);
}